[Unit]
Description=Network Audio System daemon
After=syslog.target
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/nasd
ExecStartPre=/sbin/modprobe snd-pcm-oss
ExecStart=/usr/bin/nasd $NASD_OPTIONS
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
