[Desktop Entry]
Name=TiMidity++ Xaw3D UI
Comment=Real-time software synthesizer
Icon=timidity
Type=Application
Exec=timidity -ia
Terminal=false
Categories=Audio;AudioVideo;Midi;X-Synthesis;X-Jack;
